@model IEnumerable<NewsCategoryDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn" data-toggle="modal" data-target="#addnewscategorypopup" style="width:180px; background-color:#5b47fb;"><strong style="color:white">Haber Kategorisi Ekle</strong> </a>
            @Html.Partial("_AddNewsCategoryPartial")
       
            @Html.Partial("_UpdateNewsCategoryPartial")



            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            <th>Kategori Adı</th>
                            <th id="selector"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Name</td>
                                <td>

                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="newscategoryupdateshow('@item.Id', '@item.Name')" data-toggle="modal" data-target="#updatenewscategorypopup"><i class="far fa-edit"></i></button>
                                   
                                        <button class="btn btn-sm btn-danger rounded-pill categorydelete" data-id="@item.Id" type="submit" name="delete"><i class="far fa-trash-alt"></i></button>
                                    
                                    @*<button class="btn btn-sm btn-danger rounded-pill" onclick="NewsCategoryDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletenewscategorypopup"><i class="far fa-trash-alt"></i></button>*@
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{
    <script type="text/javascript">
        $(document).on('click', '.categorydelete', function () {

            var id = $(this).data("id");

            Swal.fire({
                title: 'Emin Misin?',
                text: "Kategori Silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'delete',
                        url: '/NewsCategory/DeleteNewsCategory?Id=' + id,
                        success: function (data) {
                            if (data) {
                                //swal('Silindi!', 'Kategori silindi?', 'success');
                                location.href = "/NewsCategory/Index";
                                  
                            }
                            
                            else {
                                Swal.fire('Hata Oluştu!', 'İşlem sırasında hata oluştu?', 'warning');
                                return false;
                            }
                        }
                    });

                }
            });
        });
    </script>


    <script>

        function newscategoryupdateshow(id, name) {
            // debugger;

            $("#categoryid").val(id);
            $("#categoryname").val(name);

        }
    </script>

    <script>

        function NewsCategoryUpdate() {


            let id = $(categoryid).val();
            let name = $(categoryname).val();

            $.ajax({
                type: "put",
                url: "/NewsCategory/UpdateNewsCategory",
                data: {
                    Id: id,
                    Name: name
                },
                success: function (response) {
                    if (response) {

                        $('#updatenewscategorypopup').modal('hide');
                    }
                    location.href = "/NewsCategory/Index";
                },
                error: function () {
                    console.log("Hata Oluştu");
                    //swal("NewsCategoryUpdated!", "", "success");
                }
            })
        }
    </script>

    <script>

        $(function () {


            //  debugger;


            $("#addnewscategory").click(function () {

                let NewsCategory = {
                    Name: $("#name").val(),
                };

                $.ajax({
                    type: "post",
                    url: "/NewsCategory/AddNewsCategory",
                    data: NewsCategory,
                    success: function (response) {
                        if (response) {
                            $('addnewscategorypopup').modal('hide');
                        }
                        location.href = "/NewsCategory/Index";
                    },
                    error: function () {
                        console.log("Hata Oluştu");
                       
                    }

                });

            });

        });
    </script>




}
