@model IEnumerable<NewsCategoryDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn" data-toggle="modal" id="btnAddCategory" style="width:180px; background-color:#5b47fb;"><strong style="color:white">Haber Kategorisi Ekle</strong> </a>


            @Html.Partial("_AddEditNewsCategory")
            @Html.Partial("_DeleteCategoryPartial")



            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            <th>Kategori Adı</th>
                            <th id="selector"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">

                                <td>@item.Name</td>
                                <td>

                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="getById('@item.Id')" data-toggle="modal" data-target="#addUpdateNewsCategoryPopup"><i class="far fa-edit"></i></button>

                                    <button class="btn btn-sm btn-danger rounded-pill categoryDelete" data-name="@item.Name" data-id="@item.Id" type="submit" name="delete"><i class="far fa-trash-alt"></i></button>


                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>



            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section Section{

    <script type="text/javascript">
        $(document).on('click', '.categoryDelete', function () {

            var id = $(this).data("id");
            var name = $(this).data("name");




            Swal.fire({
                title: 'Emin Misin?',
                text: "Kategori Silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'delete',
                        url: '/NewsCategory/DeleteNewsCategory?Id=' + id,

                        success: function (data) {
                            if (data) {
                                $.ajax({
                                    url: "/NewsCategory/Index",
                                    type: "get",
                                    dataType: "html",
                                    contentType: "application/json; ",
                                    success: function (data) {

                                        $("#tableBody").html(data);
                                    }

                                });
                            }

                            else {
                                $("#deleteNewsCategory").modal('show');
                                $("#deletedCategory").val(name);
                                $("#categoryId").val(id);

                                $("#btnRemoveAndAssign").click(function () {

                                    let id = $(categoryId).val();
                                    let newsCategoryId = $(otherCategories).val();
                                   

                                    $.ajax({
                                        type: "post",
                                        url: "/NewsCategory/DeleteAndAssignNewsCategory",
                                        dataType: "json",
                                        data: {
                                            Id: id,
                                            NewsCategoryId: newsCategoryId
                                            
                                        },
                                        cache: false,
                                        success: function (data) {
                                            if (data) {
                                                $.ajax({
                                                    url: "/NewsCategory/Index",
                                                    type: "get",
                                                    dataType: "html",
                                                    contentType: "application/json; ",
                                                    success: function (data) {
                                                        if (data) {

                                                            $("#deleteNewsCategory").modal('hide');
                                                            $("#tableBody").html(data);
                                                        }
                                                        else {
                                                            Swal.fire('Hata Oluştu!', 'Silinecek kategori başka komponentlere aktarılamaz!', 'warning');
                                                        }
                                                       

                                                    }

                                                });
                                            }

                                        }
                                    });
                                });
                            }
                        }
                    });

                }
            });
        });
    </script>

    <script>
        $("#btnAddCategory").on("click", function () {

            $("#categoryId").val(0);
            $("#categoryName").val("");

            $("#addUpdateNewsCategoryPopup").modal("show");

        });

    </script>

    <script>
        function getById(id) {
            $.ajax({
                url: "/NewsCategory/GetNewsCategoryById",
                type: "Get",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (data) {

                    $("#categoryId").val(data.Id);
                    $("#categoryName").val(data.Name);
                }
            })
        }

    </script>
    <script>

        $("#btnAddUpdateNewsCategory").click(function () {
            $("#addUpdateCategoryForm").validate({
                ignore: [],
                debug: false,
                rules: {
                    categoryname: { required: true }

                },
                messages: {
                    categoryname: { required: "Kategori Ad alanı zorunlu!" }

                },
                submitHandler: function (form) {

                    let id = $("#categoryId").val();
                    let name = $("#categoryName").val();

                    $.ajax({
                        type: "post",
                        url: id == 0 ? "/NewsCategory/AddNewsCategory" : "/NewsCategory/UpdateNewsCategory",
                        data: {
                            Id: id,
                            Name: name
                        },
                        success: function (response) {
                            if (response) {
                                $.ajax({
                                    url: "/NewsCategory/Index",
                                    type: "get",
                                    dataType: "html",
                                    contentType: "application/json; ",
                                    success: function (data) {

                                        $("#addUpdateNewsCategoryPopup").modal('hide');
                                        $("#tableBody").html(data);



                                    }

                                });
                            }
                        },
                        error: function () {
                            console.log("Hata Oluştu");
                        }
                    })
                }
            });
        });
    </script>


}
