@model IEnumerable<NewsDto>

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" data-target="#modaldemo3" style="width:120px;  background-color:#5b47fb"><strong style="color:white">Add News</strong> </a>
            @Html.Partial("_AddNewsPopUpPartial")
            @Html.Partial("_DeleteNewsPopUpPartial")
            @Html.Partial("_UpdateNewsPopUpPartial")
            @Html.Partial("_DetailNewsTitle")






            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table dataTable no-footer dtr-inline" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>Baslık</th>
                            <th>Yazar</th>
                            @*<th>İçerik</th>*@
                            <th>Özet</th>
                            <th>Anahtar Kelimeler</th>
                            <th>Kategori</th>
                            <th>RoutingUrl</th>
                            @*<th>ViewCount</th>*@
                            <th>Güncelle</th>
                            <th>Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @*<td>@item.ıd</td>*@
                            @if (item.Title != null)
                            {
                                @if (item.Title.ToString().Length > 10)
                                {
                                    <td>@item.Title.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.Title</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }
                            <!--<td>--> @*@item.Title*@<!--<button onclick="getTitleById('@item.Id')" type="button" style="width:auto;"  class="btn btn-indigo rounded-pill btn-sm" data-toggle="modal" data-target="#titledetail"><i class="fas fa-search"></i></button> </td>-->

                            @if (item.Author != null)
                            {
                                @if (item.Author.ToString().Length > 10)
                                {
                                    <td>@item.Author.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.Author</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }


                            @*@if (item.HTMLContent.ToString().Length > 5)
        {
            <td>@Html.Raw(item.HTMLContent.Substring(0, 5))...</td>
        }

        else
        {
            <td>@Html.Raw(item.HTMLContent)</td>

        }*@

                            @if (item.MetaDescription != null)
                            {
                                @if (item.MetaDescription.ToString().Length > 10)
                                {
                                    <td>@item.MetaDescription.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.MetaDescription</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }


                            @if (item.MetaKeywords != null)
                            {
                                @if (item.MetaKeywords.ToString().Length > 10)
                                {
                                    <td>@item.MetaKeywords.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.MetaKeywords</td>
                                }

                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }

                            @if (item.NewsCategory.Name != null)
                            {
                                @if (item.NewsCategory.Name.ToString().Length > 10)
                                {
                                    <td>@item.NewsCategory.Name.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.NewsCategory.Name</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }

                            @if (item.RoutingUrl != null)
                            {
                                @if (item.RoutingUrl.ToString().Length > 10)
                                {
                                    <td>@item.RoutingUrl.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.RoutingUrl</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }








                            @*<td>@item.ViewCount</td>*@


                            @*<td><a href="#">Details </a></td>*@
                            <td>
                                <button class="btn btn-sm btn-indigo rounded-pill" onclick="getById('@item.Id')" data-toggle="modal" data-target="#updatenewspopup"><i class="far fa-edit"></i></button>

                            </td>
                            <td><button class="btn btn-sm btn-danger rounded-pill" onclick="newsdeleteshow('@item.Id')" data-toggle="modal" data-target="#deletenewspopup"><i class="far fa-trash-alt"></i></button> </td>

                        </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{



    @*<script>
            function getTitleById(id) {
                $.ajax({
                    url: "/News/GetNewsById",
                    type: "Get",
                    contentType: "application/json; charset=utf8",
                    dataType: "json",
                    data: {
                        Id: id
                    },
                    success: function (data) {
                        debugger;
                        //let gelenObje = jQuery.parseJSON(data);

                        $("#id").val(data.Id);
                        $("#baslık").val(data.Title);

                    }

                })
            }


        </script>*@



    <script>
        function getById(id) {
            $.ajax({
                url: "/News/GetNewsById",
                type: "Get",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (data) {
                    debugger;
                    //let gelenObje = jQuery.parseJSON(data);

                    $("#newsid").val(data.Id);
                    $("#newsroute").val(data.RoutingUrl);
                    $("#newstitle").val(data.Title);
                    CKEDITOR.instances.editor2.setData(data.HTMLContent);
                    $("#newsauthor").val(data.Author);
                    $("#newsdescription").val(data.MetaDescription);
                    $("#newskeyword").val(data.MetaKeywords);
                    $("#newscategory").val(data.NewsCategoryId);

                }

            })
        }

    </script>

    <script>

        function newsUpdate() {
            debugger
            CKEDITOR.instances['editor2'].updateElement();

            let id = $(newsid).val();
            let title = $(newstitle).val();
            let author = $(newsauthor).val();
            let htmlcontent = $(editor2).val();
            let description = $(newsdescription).val();
            let keyword = $(newskeyword).val();
            let category = $(newscategory).val();
            let route = $(newsroute).val();

            $.ajax({
                type: "put",
                url: "/News/UpdateNews",
                data: {
                    Id: id,
                    Title: title,
                    Author: author,
                    HTMLContent: htmlcontent,
                    MetaDescription: description,
                    MetaKeywords: keyword,
                    NewsCategoryId: category,
                    RoutingURL: route

                },
                success: function (response) {
                    if (response) {
                        $('#updatenewspopup').modal('hide');


                    }
                    location.href = "/News/Index";


                },
                error: function () {
                    console.log("Hata Oluştu");
                    //swal("NewsUpdated!", "", "success");
                }
            })
        }
    </script>

    <script>

        function newsdeleteshow(id) {
            // debugger;

            $("#deletenewsinput").val(id);



        }
    </script>
    <script>

        function newsDelete() {
            let id = $(deletenewsinput).val();

            $.ajax({
                type: "delete",
                url: "/News/DeleteNews",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        $('#deletenewspopup').modal('hide');
                        //swal("NewsDeleted!", "", "success");

                    }
                    location.href = "/News/Index"

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>








        // debugger;
        $(function () {


            //  debugger;


            $("#addnews").click(function () {
                CKEDITOR.instances['editor1'].updateElement();
                let News = {
                    Title: $("#title").val(),
                    Author: $("#author").val(),
                    MetaDescription: $("#description").val(),
                    MetaKeywords: $("#keywords").val(),
                    RoutingURL: $("#routingurl").val(),
                    NewsCategoryId: $("#secim").val(),
                    HTMLContent: $("#editor1").val(),
                    //Id: $("#newsId").val()




                };





                $.ajax({
                    type: "post",
                    url: "/News/AddNews",
                    data: News,
                    success: function (response) {
                        if (response) {

                            $('#modaldemo3').modal('hide');
                        }

                        location.href = "/News/Index"



                    },
                    error: function () {
                        console.log("hata oluştu");
                        //swal("News Added!", "", "success");

                    }



                });

            });

        });
    </script>

    <script src="~/NewFolder/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script>
        CKEDITOR.replace('editor1');


    </script>
    <script>
        CKEDITOR.replace('editor2');


    </script>


}
