@model IEnumerable<NewsDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- vendor css -->
<!-- az-header -->

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">






            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;"  href="#">Insert News</a>*@
        <a class="btn btn-primary" data-toggle="modal" data-target="#modaldemo3" style="width:120px;">Insert News </a> 
        <partial name="_AddPopUpPartial"> </partial>

            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Content</th>
                            <th>Description</th>
                            <th>Keywords</th>
                            <th>Category</th>
                            <th>RoutingUrl</th>
                            <th>ViewCount</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title.Substring(0,5)...</td>
                                <td>@item.Author.Substring(0,5)...</td>
                                <td>@item.HTMLContent.Substring(0,5)...</td>
                                <td>@item.MetaDescription.Substring(0,5) ...</td>
                                <td>@item.MetaKeywords.Substring(0,5) ...</td>
                                <td>@item.RoutingUrl.Substring(0,5)...</td>
                                <td>@item.NewsCategoryId</td>
                                <td>@item.ViewCount</td>
                                <td><a href="#">Details</a> </td>
                                <td><a href="#">Edit</a> </td>
                                <td><a href="#">Delete</a> </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>

       

            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->





