@model IEnumerable<NewsDto>

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" data-target="#modaldemo3" style="width:120px;">Insert News </a>
            @Html.Partial("_AddNewsPopUpPartial")
            @Html.Partial("_DeleteNewsPopUpPartial")
            @Html.Partial("_UpdateNewsPopUpPartial")





            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table  id="sergen" class="table">
                    <thead>
                        <tr>
                           
                            <th>Title</th>
                            <th>Author</th>
                            <th>Content</th>
                            <th>Description</th>
                            <th>Keywords</th>
                            <th>Category</th>_
                            <th>RoutingUrl</th>
                            <th>ViewCount</th>
                            @*<th>Details</th>*@
                            <th>Edit</th>
                            <th>Delete</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>@item.Id</td>
                                @if (item.Title.ToString().Length > 5)
                                {
                                    <td>@item.Title.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.Title</td>
                                }*@
                                <td class="text-truncate"> @item.Title</td>

                                @if (item.Author.ToString().Length > 5)
                                {
                                    <td>@item.Author.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.Author</td>
                                }

                                @if (item.HTMLContent.ToString().Length > 5)
                                    {
                                        <td>@Html.Raw(item.HTMLContent.Substring(0, 5))...</td>
                                    }
                                    else
                                    {
                                        <td>@Html.Raw(item.HTMLContent)</td>

                                    }


                                @if (item.MetaDescription.ToString().Length > 5)
                                {
                                    <td>@item.MetaDescription.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.MetaDescription</td>
                                }
                                @if (item.MetaKeywords.ToString().Length > 5)
                                {
                                    <td>@item.MetaKeywords.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.MetaKeywords</td>
                                }
                                @if (item.NewsCategory.Name.ToString().Length > 5)
                                {
                                    <td>@item.NewsCategory.Name.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.NewsCategory.Name</td>
                                }

                                @if (item.RoutingUrl.ToString().Length > 5)
                                {
                                    <td>@item.RoutingUrl.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.RoutingUrl</td>
                                }







                                <td>@item.ViewCount</td>


                                @*<td><a href="#">Details </a></td>*@
                                <td>
                                    <a href="" onclick="newsupdateshow('@item.Id', '@item.Title', '@item.Author',  '@item.MetaDescription', '@item.MetaKeywords', '@item.NewsCategoryId', '@item.RoutingUrl')" data-toggle="modal" data-target="#updatenewspopup">Edit</a>

                                </td>
                                <td><a href="" onclick="newsdeleteshow('@item.Id')" data-toggle="modal" data-target="#deletenewspopup">Delete</a> </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{





    <script>

        function newsupdateshow(id, title, author, description, keyword, category, routingurl /*title, author,htmlcontent, description, keyword, category,  routingurl*/) {
            // debugger;

            $("#newsid").val(id);
            $("#newstitle").val(title);
            $("#newsauthor").val(author);
            //$("#editor1").val(htmlcontent);
            $("#newsdescription").val(description);
            $("#newskeyword").val(keyword);
            $("#newscategory").val(category);
            $("#newsroutingurl").val(routingurl);





        }
    </script>

    <script>

        function newsUpdate() {
            CKEDITOR.instances['editor2'].updateElement();

            let id = $(newsid).val();
            let title = $(newstitle).val();
            let author = $(newsauthor).val();
            let htmlcontent = $(editor2).val();
            let description = $(newsdescription).val();
            let keyword = $(newskeyword).val();
            let category = $(newscategory).val();
            let routingurl = $(newsroutingurl).val();





            $.ajax({
                type: "put",
                url: "/News/UpdateNews",
                data: {
                    Id: id,
                    Title: title,
                    Author: author,
                    HTMLContent: htmlcontent,
                    MetaDescription: description,
                    MetaKeywords: keyword,
                    NewsCategoryId: category,


                    RoutingURL: routingurl,




                },
                success: function (response) {
                    if (response) {
                        swal("NewsUpdated!", "", "success");
                       
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>

        function newsdeleteshow(id) {
            // debugger;

            $("#deletenewsinput").val(id);



        }
    </script>
    <script>

        function newsDelete() {
            let id = $(deletenewsinput).val();

            $.ajax({
                type: "delete",
                url: "/News/DeleteNews",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        swal("NewsDeleted!", "", "success");
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>








        // debugger;
        $(function () {


            //  debugger;


            $("#addnews").click(function () {
                CKEDITOR.instances['editor1'].updateElement();
                let News = {
                    Title: $("#title").val(),
                    Author: $("#author").val(),
                    MetaDescription: $("#description").val(),
                    MetaKeywords: $("#keywords").val(),
                    RoutingURL: $("#routingurl").val(),
                    NewsCategoryId: $("#secim").val(),
                    HTMLContent: $("#editor1").val(),
                    //Id: $("#newsId").val()




                };





                $.ajax({
                    type: "post",
                    url: "/News/AddNews",
                    data: News,
                    success: function (response) {
                        if (response) {
                            swal("News Added!", "", "success");
                        }



                    }

                });

            });

        });
    </script>

    <script src="~/NewFolder/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script>
        CKEDITOR.replace('editor1');


    </script>
    <script>
        CKEDITOR.replace('editor2');


    </script>


}
