@model IEnumerable<SocialMediaDto>


@{
    ViewData["Title"] = "SocialMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn" data-toggle="modal" data-target="#addsocialmediapopup" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Sosyal Medya Ekle</strong> </a>
            @Html.Partial("_AddSocialMediaPartial")
            @Html.Partial("_DeleteSocialMediaPartial")
            @Html.Partial("_UpdateSocialMediaPartial")





            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table dataTable no-footer dtr-inline" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>Ad</th>
                            <th>Görünürlük</th>

                            <th>Ikon</th>
                            <th>Href</th>


                            @*<th>Düzenle</th>*@
                            <th></th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Name != null)
                                {
                                        <td>@item.Name</td>
                                    
                                }
                                else
                                {
                                    <td><p style="color:indigo"> <strong>Eklenmedi!</strong> </p></td>
                                }

                                <td>
                                    @if (item.IsVisible)
                                    {
                                        <span class="badge badge-success">Evet</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-secondary">Hayır</span>
                                    }
                                </td>


                                @*<td>@item.IsVisible</td>*@

                                @if (item.Icon != null)
                                {
                                    <td><img src="~/img/@item.Icon" style="width:150px; height:150px;" /></td>
                                }
                                else
                                {
                                  
                                    <td><p style="color:indigo"> <strong>Eklenmedi!</strong> </p></td>
                                }









                                @if (item.Href != null)
                                {
                                   
                                    
                                        <td>@item.Href</td>
                                    
                                }
                                else
                                {
                                    <td><p style="color:indigo"> <strong>Eklenmedi!</strong> </p></td>
                                }

                            <td>
                                <button class="btn btn-sm btn-indigo rounded-pill" onclick="SocialMediaUpdateShow('@item.Id', '@item.Name', '@item.IsVisible', '@item.Href')" data-toggle="modal" data-target="#updatesocialmediapopup"><i class="far fa-edit"></i></button>
                                <button type="submit" class="btn btn-sm btn-danger rounded-pill" onclick="SocialMediaDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletesocialmediapopup"><i class="far fa-trash-alt"></i></button>
                            </td>
                                

                            </tr>
                         }

                    </tbody>
                </table>
            </div>
            <div class="ht-40"></div>
        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{

  
    


    <script>
        $("#addsocialmedia").click(function () {
            $("#submitForm").validate({
                rules: {
                    sosyaladı: { required: true },

                    dosya: { extension: "png", required: true },

                    görünürlük: { required: true },

                    uzantı: { required: true }

                },
                messages: {
                    sosyaladı: { required: "Lütfen Sosyal Medya Adı Giriniz!" },
                    dosya: { extension: "Png formatında dosya yükeyiniz!", required: "Lütfen dosya yükleyiniz!" },
                    görünürlük: { required: "Görünürlük Seçiniz!" },
                    uzantı: { required: "Lütfen href giriniz!" }

                },
                submitHandler: function (form) {
                    let socialmedianame = $("#name").val();
                    let IsVisible = $("#isvisible").val();
                    let iconurl = $("#icon")[0].files[0];
                    let href = $("#href").val();


                    let formData = new FormData();
                    formData.append("Name", socialmedianame);
                    formData.append("IsVisible", IsVisible);
                    formData.append("Href", href);

                    if (iconurl != null) {
                        formData.append("File", iconurl, iconurl.fileName)
                    }

                    // debugger;
                    $.ajax({
                        type: "post",
                        url: "/SocialMedia/AddSocialMedia",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response) {


                                $('#addsocialmediapopup').modal('hide');
                            }
                            location.href = "/SocialMedia/Index";



                        }

                    });

                }
            });
        });



    </script>



    <script>

        function SocialMediaUpdateShow(id, name, isvisible, ahref) {
            // debugger;

            $("#socialid").val(id);
            $("#socialname").val(name);
            $("#visible").val(isvisible);
            $("#hrefurl").val(ahref);
        }
    </script>

  
    <script>

        function SocialMediaDeleteShow(id) {

            $("#socialmediaid").val(id);
        }
        </script>
<script>

        function DeleteSocialMedia() {
            let id = $(socialmediaid).val();

            $.ajax({
                type: "delete",
                url: "/SocialMedia/DeleteSocialMedia",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {

                        $('#deletesocialmediapopup').modal('hide');
                    }
                    location.href = "/SocialMedia/Index";

                },
                error: function () {
                    console.log("Hata Oluştu");
                    //swal("SocialMedia Deleted!", "", "success");
                }
            })
        }
    </script>

    <script>
        $("#updatesocialmedia").click(function () {
            $("#updateform").validate({
                rules: {
                    adısosyal: { required: true },

                    fileinput: { extension: "png", required: false },

                    gorunurluk: { required: true },

                    href: { required: true }

                },
                messages: {
                    adısosyal: { required: "Lütfen Sosyal Medya Adı Giriniz!" },
                    fileinput: { extension: "Png formatında dosya yükleyiniz!" },
                    gorunurluk: { required: "Görünürlük Seçiniz!" },
                    href: { required: "Lütfen href giriniz!" }

                },
                submitHandler: function (form) {
                    let socialmediaid = $("#socialid").val();
                    let socialmedianame = $("#socialname").val();
                    let Isvisible = $("#visible").val();
                    let Icon = $("#logoicon")[0].files[0];
                    let Href = $("#hrefurl").val();

                    let formData = new FormData();
                    formData.append("Id", socialmediaid);
                    formData.append("Name", socialmedianame);
                    formData.append("IsVisible", Isvisible);
                    formData.append("Href", Href);

                    if (Icon != null) {
                        formData.append("File", Icon, Icon.fileName)
                    }

                    $.ajax({
                        type: "put",
                        url: "/SocialMedia/UpdateSocialMedia",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response) {
                                $('#updatesocialmediapopup').modal('hide');
                            }
                            location.href = "/SocialMedia/Index";

                        },
                        error: function () {
                            console.log("Hata Oluştu");
                            //swal("SocialMedia Updated!", "", "success");
                        }


                    });

                }
            });
        });
    </script>



}

