@model IEnumerable<Common.Dto.PanelDtos.StaticPageDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn " data-toggle="modal" data-target="#addstaticpagemodal" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Sayfa Ekle</strong> </a>
            @Html.Partial("_AddStaticPagePartial")
            @Html.Partial("_DeleteStaticPagePartial")
            @Html.Partial("_UpdateStaticPagePartial")





            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table dataTable no-footer dtr-inline" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>Sayfa Adı</th>
                            <th>Başlık</th>
                            <th>İçerik</th>
                            <th>Açıklama</th>
                            <th>Anahtar Kelimeler</th>
                            <th>Url</th>

                            @*<th>Details</th>*@
                            <th>DÜZENLE</th>
                            <th>SİL</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.Name != null)
                                {
                                    @if (item.Name.ToString().Length > 5)
                                    {
                                        <td>@item.Name.Substring(0, 5)...</td>
                                    }
                                    else
                                    {
                                        <td>@item.Name</td>
                                    }
                                }


                                @if (item.Title != null)
                                {
                                    @if (item.Title.ToString().Length > 5)
                                    {
                                        <td>@item.Title.Substring(0, 5)...</td>
                                    }
                                    else
                                    {
                                        <td>@item.Title</td>
                                    }
                                }


                                @if (item.HTMLContent != null)
                                {
                                    @if (item.HTMLContent.ToString().Length > 5)
                                    {
                                        <td>@Html.Raw(item.HTMLContent.Substring(0, 5))...</td>
                                    }
                                    else
                                    {
                                        <td>@Html.Raw(item.HTMLContent)</td>
                                    }
                                }


                                @if (item.MetaDescription != null)
                                {
                                    @if (item.MetaDescription.ToString().Length > 5)
                                    {
                                        <td>@item.MetaDescription.Substring(0, 5)...</td>
                                    }
                                    else
                                    {
                                        <td>@item.MetaDescription</td>
                                    }
                                }

                                @if (item.MetaKeywords != null)
                                {
                                    @if (item.MetaKeywords.ToString().Length > 5)
                                    {
                                        <td>@item.MetaKeywords.Substring(0, 5)...</td>
                                    }
                                    else
                                    {
                                        <td>@item.MetaKeywords</td>
                                    }
                                }


                                @if (item.RoutingUrl != null)
                                {
                                    @if (item.RoutingUrl.ToString().Length > 5)
                                    {
                                        <td>@item.RoutingUrl.Substring(0, 5)...</td>
                                    }
                                    else
                                    {
                                        <td>@item.RoutingUrl</td>
                                    }
                                }













                                @*<td><a href="#">Details </a></td>*@
                                <td>
                                    <a href="" onclick="getById('@item.Id')" data-toggle="modal" data-target="#updatestaticpagepopup">Düzenle</a>

                                </td>
                                <td><a href="" onclick="newsdeleteshow('@item.Id')" data-toggle="modal" data-target="#deletestaticpagepopup">Sil</a> </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{





  
    <script>
        function getById(id) {
            $.ajax({
                url: "/StaticPage/GetStaticPageById",
                type: "Get",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                data: {
                    Id:id
                },
                success: function (data) {
                    let gelenObje = jQuery.parseJSON(data);
                    
                    $("#pageid").val(gelenObje.Id);
                    $("#pagename").val(gelenObje.Name);
                    CKEDITOR.instances.editor2.setData(gelenObje.HTMLContent);
                    $("#pagetitle").val(gelenObje.Title);
                    $("#pagekeyword").val(gelenObje.MetaKeywords);  
                    $("#pagedescription").val(gelenObje.MetaDescription);
                    $("#gidilecekurl").val(gelenObje.RoutingUrl);
                    
                }

            })
        }

    </script>
    <script>

        function PageUpdate() {
           
            CKEDITOR.instances['editor2'].updateElement();
            CKEDITOR.instances['editor2'].getData();
            //CKEDITOR.instances['editor2'].getData()
            

            let id = $(pageid).val();
            let name = $(pagename).val();
            let title = $(pagetitle).val();
            let htmlcontent = $(editor2).val();
            let description = $(pagedescription).val();
            let keyword = $(pagekeyword).val();
            let route = $(gidilecekurl).val();





            $.ajax({
                type: "put",
                url: "/StaticPage/UpdateStaticPage",
                data: {
                    Id: id,
                    Name: name,
                    Title: title,
                    HTMLContent: htmlcontent,
                    MetaDescription: description,
                    MetaKeywords: keyword,
                    RoutingURL: route




                },
                success: function (response) {
                    if (response) {
                        //$('updatestaticpagepopup').hide();
                        $('#updatestaticpagepopup').modal('hide');
                        

                    }
                    location.href = "/StaticPage/Index";

                },
                error: function () {
                    console.log("Hata Oluştu");
                    //swal("Page Updated!", "", "success");
                }
            })
        }
    </script>

    <script>

        function newsdeleteshow(id) {
            $("#deletepageid").val(id);



        }
    </script>
    <script>

        function StaticPageDelete() {
            let id = $(deletepageid).val();

            $.ajax({
                type: "delete",
                url: "/StaticPage/DeleteStaticPage",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        //swal("Page Deleted!", "", "success");
                        $('#deletestaticpagepopup').modal('hide');
                    }
                    location.href = "/StaticPage/Index";

                },
                error: function () {
                    console.log("Hata Oluştu");
                    //swal("Page Deleted!", "", "success");
                }
            })
        }
    </script>

    <script>








        // debugger;
        $(function () {


            //  debugger;


            $("#addstaticpage").click(function () {
                CKEDITOR.instances['editor1'].updateElement();
                //CKEDITOR.instances['editor1'].getData();
                let StaticPage = {
                    Title: $("#title").val(),
                    Name: $("#name").val(),
                    MetaDescription: $("#description").val(),
                    MetaKeywords: $("#keywords").val(),
                    RoutingURL: $("#routingurl").val(),

                    HTMLContent: $("#editor1").val()
                    //Id: $("#newsId").val()




                };





                $.ajax({
                    type: "post",
                    url: "/StaticPage/AddStaticPage",
                    data: StaticPage,
                    success: function (response) {
                        if (response) {
                            $('#addstaticpagemodal').modal('hide');
                            //swal("Page Added!", "", "success");
                        }
                        location.href = "/StaticPage/Index";


                    },

                    error: function () {
                        console.log("Hata Oluştu");
                        //swal("Page Deleted!", "", "success");
                    }

                });

            });

        });
    </script>

    <script src="~/NewFolder/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script>
        CKEDITOR.replace('editor1');
        
    </script>


   
    <script>
        CKEDITOR.replace('editor2');


    </script>


}