@model IEnumerable<Common.Dto.PanelDto.PageComponentDto>
@{
    ViewData["Title"] = "PageComponent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" data-target="#addpagecomponentpopup" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Component Ekle</strong> </a>

            @Html.Partial("_AddPageComponentPartial")
            @Html.Partial("_DeletePageComponentPartial")
                @Html.Partial("_UpdatePageComponentPartial")





            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table dataTable no-footer dtr-inline" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>Başlık</th>
                            <th>Özet</th>

                            <th>Href</th>
                            <th>Kategori</th>
                            <th>Resim</th>
                          
                           
                            @*<th>Güncelle</th>*@
                            <th></th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @if (item.Title != null)
                            {
                                @if (item.Title.ToString().Length > 5)
                                {
                                    <td>@item.Title.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.Title</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }

                            @if (item.Description != null)
                            {
                                @if (item.Description.ToString().Length > 5)
                                {
                                    <td>@item.Description.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.Description</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }





                            @if (item.Href != null)
                            {
                                @if (item.Href.ToString().Length > 5)
                                {
                                    <td>@item.Href.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.Href</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }

                            @if (item.PageComponentCategory.Name != null)
                            {
                                @if (item.PageComponentCategory.Name.ToString().Length > 5)
                                {
                                    <td>@item.PageComponentCategory.Name.Substring(0, 5)...</td>
                                }
                                else
                                {
                                    <td>@item.PageComponentCategory.Name</td>
                                }
                            }
                            else
                            {
                                <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                            }




                            <td><img src="~/img/@item.ImageUrl" style="width:150px; height:150px;" /></td>



                            @*<td><a href="#">Details </a></td>*@
                        <td>
                            <button class="btn btn-sm btn-indigo rounded-pill" onclick="ComponentUpdateShow('@item.Id', '@item.Title', '@item.Description','@item.Href','@item.PageComponentCategoryId')" data-toggle="modal" data-target="#updatepagecomponentpopup"><i class="far fa-edit"></i></button>
                            <button class="btn btn-sm btn-danger rounded-pill" onclick="ComponentDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletecomponentpopup"><i class="far fa-trash-alt"></i></button>
                        </td>
                           

                        </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{






    <script>

        function ComponentUpdateShow(id,title,description,ahref,category) {
            // debugger;

            $("#id").val(id);
            $("#title").val(title);
            $("#description").val(description);
            //$("#imageurl").val(imageurl);
            $("#hrefurl").val(ahref);
            $("#categoryid").val(category);



            


        }
    </script>

    <script>

        function ComponentUpdate() {
            //CKEDITOR.instances['editor2'].updateElement();

            let componentsid = $("#id").val();
            let componentstitle = $("#title").val();
            let componentsdescription = $("#description").val();
            let componentimageurl = $("#imageurl")[0].files[0];
            let componenthref = $("#hrefurl").val();
            let componentscategory = $("#categoryid").val();

            let formData = new FormData();
            formData.append("Id", componentsid);
            formData.append("Title", componentstitle);
            formData.append("Description", componentsdescription);

            if (componentimageurl != null) {
                formData.append("File", componentimageurl, componentimageurl.fileName)
            }
            formData.append("Href", componenthref);
            formData.append("PageComponentCategoryId", componentscategory);

            $.ajax({
                type: "put",
                url: "/PageComponent/UpdatePageComponent",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response) {
                        //swal("Component Updated!", "", "success");
                        $('updatepagecomponentpopup').modal('hide');
                    }
                    location.href = "/PageComponent/Index";
                },

                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>

        function ComponentDeleteShow(id) {
            

            $("#pagecomponentid").val(id);



        }
    </script>
    <script>

        function ComponentDelete() {
            let id = $(pagecomponentid).val();

            $.ajax({
                type: "delete",
                url: "/PageComponent/DeletePageComponent",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                       
                        $('deletecomponentpopup').modal('hide');
                    }
                    location.href = "/PageComponent/Index";

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>








        // debugger;
        $(function () {


            //  debugger;


            $("#addcomponentcategory").click(function () {
                //CKEDITOR.instances['editor1'].updateElement();


                //let componentid = $("#componentid").val();
                let componentstitle = $("#componenttitle").val();
                let componentsdescription = $("#componentdescription").val();
                let componentimageurl = $("#componentimage")[0].files[0];
                let componenthref = $("#componenthref").val();
                let componentcategory = $("#componentcategoryid").val();

                let formData = new FormData();
                //formData.append("Id", componentid);
                formData.append("Title", componentstitle);
                formData.append("Description", componentsdescription);
                //formData.append("ImageUrl", componentimageurl);
                formData.append("Href", componenthref);
                formData.append("PageComponentCategoryId", componentcategory);


                if (componentimageurl != null) {
                    formData.append("File", componentimageurl, componentimageurl.fileName)
                }






                $.ajax({
                    type: "post",
                    url: "/PageComponent/AddPageComponent",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response) {
                            //swal("Component Added!", "", "success");
                            $('addpagecomponentpopup').modal('hide');
                        }
                        location.href = "/PageComponent/Index";



                    },
                    error: function () {
                        console.log("Hata Oluştu");
                    }

                });

            });

        });
    </script>

    @*<script src="~/NewFolder/ckeditor/ckeditor.js" type="text/javascript"></script>
        <script>
            CKEDITOR.replace('editor1');


        </script>
        <script>
            CKEDITOR.replace('editor2');


        </script>*@


}

