@model IEnumerable<SettingDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            @*<a class="btn" data-toggle="modal" data-target="#addsettingpopup" style="width:150px;  background-color:#5b47fb"><strong style="color:white">Add Setting</strong> </a>*@
            @*@Html.Partial("_AddSettingModalPartial")*@

            @Html.Partial("_DeleteSettingPartial")
            @Html.Partial("_UpdateSettingModalPartial")






            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th>Şirket Adı</th>
                            <th>Slogan</th>
                            <th>Logo</th>
                            <th>FavIcon</th>

                            @*<th>Details</th>*@
                            <th>Güncelle</th>
                            <th>Sil</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @*<td>@item.Id</td>*@

                            @if (item.CompanyName.ToString().Length > 5)
                            {
                                <td>@item.CompanyName.Substring(0, 5)...</td>
                            }
                            else
                            {
                                <td>@item.CompanyName</td>
                            }

                            @if (item.Slogan.ToString().Length > 5)
                            {
                                <td>@item.Slogan.Substring(0, 5)...</td>
                            }
                            else
                            {
                                <td>@item.Slogan</td>
                            }

                            <td><img src="~/img/@item.FavIconUrl" style="width:150px; height:150px;" /></td>

                            <td><img src="~/img/@item.LogoUrl" style="width:150px; height:150px;" /></td>



                            @*<td><a href="#">Details </a></td>*@
                            <td>
                                <button class="btn btn-sm btn-indigo rounded-pill" onclick="SettingUpdateShow('@item.Id', '@item.CompanyName', '@item.Slogan', '@item.FavIconUrl', '@item.LogoUrl')" data-toggle="modal" data-target="#updatesettingpopup"><i class="far fa-edit"></i></button>

                            </td>
                            <td><button class="btn btn-sm btn-danger rounded-pill" onclick="SettingDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletesettingpopup"><i class="far fa-trash-alt"></i></button> </td>

                        </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{





    <script>

        function SettingUpdateShow(id, name,slogan,favicon,logo ) {
            // debugger;

            $("#settingid").val(id);
            $("#companyname").val(name);
            $("#companyslogan").val(slogan);

            $("#favicon").val(favicon);
            $("#logourl").val(logo);

        }
    </script>

    <script>

        function SettingUpdate() {
            //CKEDITOR.instances['editor2'].updateElement();

            let settingid = $("#settingid").val();
            let CompanyName = $("#companyname").val();
            let slogan = $("#companyslogan").val();
            let filefavicon = $("#favicon")[0].files[0];
            let filelogo = $("#logourl")[0].files[0];


            let formData = new FormData();
            formData.append("Id", settingid);
            formData.append("CompanyName", CompanyName);
            formData.append("Slogan", slogan);

            if (filefavicon != null) {
                formData.append("file", filefavicon, filefavicon.fileName)
            }

            if (filelogo != null) {
                formData.append("FileLogo", filelogo, filelogo.fileName)

            }


            $.ajax({
                type: "put",
                url: "/Setting/UpdateSetting",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response) {
                        //swal("Setting Updated!", "", "success");
                    }
                },
              
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>

        function SettingDeleteShow(id) {
            // debugger;

            $("#settingid").val(id);



        }
    </script>
    <script>

        function SettingDelete() {
            let id = $(settingid).val();

            $.ajax({
                type: "delete",
                url: "/Setting/DeleteSetting",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        swal("Setting Deleted!", "", "success");
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>
        // debugger;
        $(function () {
            //  debugger;
            $("#addsetting").click(function () {
                //CKEDITOR.instances['editor1'].updateElement();
               
                let CompanyName = $("#addcompanyname").val();
                let slogan = $("#addcompanyslogan").val();
                let filefavicon = $("#addfavicon")[0].files[0];
                let filelogo = $("#addlogo")[0].files[0];

                let formData = new FormData();
                formData.append("CompanyName", CompanyName);
                formData.append("Slogan", slogan);

                if (filefavicon != null) {
                    formData.append("file", filefavicon, filefavicon.fileName)
                }

                if (filelogo != null) {
                    formData.append("FileLogo", filelogo, filelogo.fileName)

                }
                
                $.ajax({
                    type: "post",
                    url: "/Setting/AddSetting",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response) {
                            swal("Setting Added!", "", "success");
                        }
                    }

                });

            });

        });
    </script>



}
