@model IEnumerable<SettingDto>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            @*<a class="btn" data-toggle="modal" data-target="#addsettingpopup" style="width:150px;  background-color:#5b47fb"><strong style="color:white">Ayar Ekle</strong> </a>*@
            @Html.Partial("_AddSettingModalPartial")

           
            @Html.Partial("_UpdateSettingModalPartial")






            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                           
                            <th>Şirket Adı</th>
                            <th>Slogan</th>
                            <th>Logo</th>
                            <th>FavIcon</th>
                            <th id="selector"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>


                            @if (!string.IsNullOrWhiteSpace(item.CompanyName))
                            {

                                <td>@item.CompanyName</td>
                            }
                            else
                            {
                                <td><p style="color:indigo"><strong>Eklenmedi!</strong></p></td>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.Slogan))
                            {
                                <td>@item.Slogan</td>
                            }
                            else
                            {
                                <td><p style="color:indigo"><strong>Eklenmedi!</strong></p></td>
                            }

                            <td><img src="~/img/@item.FavIconUrl" style="width:150px; height:150px;" /></td>

                            <td><img src="~/img/@item.LogoUrl" style="width:150px; height:150px;" /></td>

                            <td>
                                <button class="btn btn-sm btn-indigo rounded-pill" onclick="getById('@item.Id')" data-toggle="modal" data-target="#updatesettingpopup"><i class="far fa-edit"></i></button>
                                @*<button class="btn btn-sm btn-danger rounded-pill" onclick="SettingDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletesettingpopup"><i class="far fa-trash-alt"></i></button>*@
                            </td>


                        </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{


<script>
    function getById(id) {
        $.ajax({
            url: "/Setting/GetSettingById",
            type: "Get",
            contentType: "application/json; charset=utf8",
            dataType: "json",
            data: {
                Id: id
            },
            success: function (data) {

                $("#settingid").val(data.Id);
                $("#companyname").val(data.CompanyName);
                $("#companyslogan").val(data.Slogan);
                $("#favicon").val(data.FavIconUrl);
                $("#logourl").val(data.LogoUrl);

            }
        })
    }
</script>

    <script>

        function settingUpdate() {
            let settingid = $("#settingid").val();
            let CompanyName = $("#companyname").val();
            let slogan = $("#companyslogan").val();
            let filefavicon = $("#favicon")[0].files[0];
            let filelogo = $("#logourl")[0].files[0];

            let formData = new FormData();
            formData.append("Id", settingid);
            formData.append("CompanyName", CompanyName);
            formData.append("Slogan", slogan);

            if (filefavicon != null) {
                formData.append("file", filefavicon, filefavicon.fileName)
            }

            if (filelogo != null) {
                formData.append("FileLogo", filelogo, filelogo.fileName)

            }

            $.ajax({
                type: "put",
                url: "/Setting/UpdateSetting",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response) {
                        $('#updatesettingpopup').modal('hide');


                    }
                    location.href="/Setting/Index"
                },

                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>

        function SettingDeleteShow(id) {
            // debugger;
            $("#settingid").val(id);
        }
    </script>
    <script>

        function SettingDelete() {
            let id = $(settingid).val();
            $.ajax({
                type: "delete",
                url: "/Setting/DeleteSetting",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        swal("Setting Deleted!", "", "success");
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>
        $(function () {
            $("#addsetting").click(function () {
                let CompanyName = $("#addcompanyname").val();
                let slogan = $("#addcompanyslogan").val();
                let filefavicon = $("#addfavicon")[0].files[0];
                let filelogo = $("#addlogo")[0].files[0];

                let formData = new FormData();
                formData.append("CompanyName", CompanyName);
                formData.append("Slogan", slogan);

                if (filefavicon != null) {
                    formData.append("file", filefavicon, filefavicon.fileName)
                }

                if (filelogo != null) {
                    formData.append("FileLogo", filelogo, filelogo.fileName)

                }

                $.ajax({
                    type: "post",
                    url: "/Setting/AddSetting",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response) {
                            swal("Setting Added!", "", "success");
                        }
                    }

                });

            });

        });
    </script>



}
