@model IEnumerable<AddressDto>

@{
    ViewData["Title"] = "Adres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>
<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" id="btnAddAddress" style="width:150px;  background-color:#5b47fb"><strong style="color:white">Adres Ekle</strong> </a>
            @*@Html.Partial("_AddAddressPopUp")*@
            @Html.Partial("_UpdateAddressPopUp")

            <hr class="mg-y-30">
            <div>
                <table id="example2" class="table dataTable no-footer dtr-inline" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr>

                            <th>İsim</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Şehir</th>
                            <th>İlçe</th>
                            <th>Tam Adres</th>
                            <th>Enlem</th>
                            <th>Boylam</th>

                            <th id="selector"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (!string.IsNullOrWhiteSpace(item.Name))
                                {

                                    <td>@item.Name</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }


                                @if (!string.IsNullOrWhiteSpace(item.Email))
                                {

                                    <td>@item.Email</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.Phone))
                                {


                                    <td>@item.Phone</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }


                                @if (!string.IsNullOrWhiteSpace(item.City))
                                {

                                    <td>@item.City</td>


                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.County))
                                {

                                    <td>@item.County</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.FullAdress))
                                {

                                    <td>@item.FullAdress</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }


                                @if (!string.IsNullOrWhiteSpace(item.Longitude))
                                {

                                    <td>@item.Longitude</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }


                                @if (!string.IsNullOrWhiteSpace(item.Latitude))
                                {


                                    <td>@item.Latitude</td>

                                }
                                else
                                {
                                    <td><p style="color:red"><strong>Eklenmedi!</strong></p></td>
                                }

                                <td>
                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="getAddressById('@item.Id')" data-toggle="modal" data-target="#updateaddressmodal"><i class="far fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger rounded-pill addressdelete" data-id="@item.Id" type="submit" name="delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="ht-40"></div>
        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section Section{



    <script type="text/javascript">
        $(document).on('click', '.addressdelete', function () {

            var id = $(this).data("id");

            Swal.fire({
                title: 'Emin Misin?',
                text: "Adres Silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'delete',
                        url: '/Address/DeleteAddress?Id=' + id,
                        success: function (data) {
                            if (data) {
                                //swal('Silindi!', 'Kategori silindi?', 'success');
                                location.href = "/Address/Index";
                            }

                            else {
                                Swal.fire('Hata Oluştu!', 'İşlem sırasında hata oluştu?', 'warning');
                                return false;
                            }
                        }
                    });

                }
            });
        });
    </script>


    <script>

        $("#btnAddAddress").on("click", function () {

            $("#addressid").val(0);
            $("#addressnameid").val("")
            $("#mailid").val("");
            $("#phoneid").val("");
            $("#cityid").val("");
            $("#idcounty").val("");
            $("#fulladdressid").val("");
            $("#longitudeid").val("");
            $("#latitudeid").val("");
            

            $("#updateaddressmodal").modal("show");

        });


    </script>



    <script>
        function getAddressById(id) {
            $.ajax({
                url: "/Address/GetAddressById",
                type: "Get",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (data) {
                    debugger;
                    $("#addressid").val(data.Id);
                    $("#addressnameid").val(data.Name)
                    $("#mailid").val(data.Email);
                    $("#phoneid").val(data.Phone);
                    $("#cityid").val(data.City);
                    $("#idcounty").val(data.County);
                    $("#fulladdressid").val(data.FullAdress);
                    $("#longitudeid").val(data.Longitude);
                    $("#latitudeid").val(data.Latitude);

                }

            })
        }

    </script>
    <script>
        $("#addEditAddress").click(function () {
            $("#updateaddressform").validate({
                ignore: [],
                debug: false,
                rules: {
                    addressname: { required: true },
                    mail: { required: true, email: true },
                    city: { required: true },
                    county: { required: true },
                    fulladdress: { required: true },
                    //phone: { required: true },
                    //longitude: { required: true },
                    //latitude: { required: true },
                },
                messages: {
                    addressname: { required: "Adres Adı zorunlu!" },
                    mail: { required: "Mail alanı zorunlu!", email: "Email formatı geçerli değil!" },
                    city: { required: "Şehir bilgisi zorunlu!" },
                    county: { required: "İlçe Bilgisi zorunlu!" },
                    fulladdress: { required: "Açık adres bilgisi zorunlu!" },
                    //longitude: { required: "Boylam bilgisi zorunlu!" },
                    //latitude: { required: "Enlem bilgisi zorunlu!" },

                    //phone: { required: "Telefon bilgisi zorunlu!" },
                },
                submitHandler: function (form) {
                    let id = $(addressid).val();
                    let name = $(addressnameid).val();
                    let email = $(mailid).val();
                    let phone = $(phoneid).val();
                    let city = $(cityid).val();
                    let county = $(idcounty).val();
                    let fulladdress = $(fulladdressid).val();
                    let longitude = $(longitudeid).val();
                    let latitude = $(latitudeid).val();

                    $.ajax({
                        type: "post",
                        url: id==0 ? "/Address/AddAddress" : "/Address/UpdateAddress",
                        data: {
                            Id: id,
                            Name: name,
                            Email: email,
                            Phone: phone,
                            City: city,
                            County: county,
                            FullAdress: fulladdress,
                            Longitude: longitude,
                            Latitude: latitude
                        },
                        success: function (response) {
                            if (response) {
                                $('#updateaddressmodal').modal('hide');
                            }
                            location.href = "/Address/Index";
                        },
                        error: function () {
                            console.log("Hata Oluştu");
                            //swal("NewsUpdated!", "", "success");
                        }
                    })

                }
            });
        });
    </script>






}
