

@model IEnumerable<PageComponentCategoryDto>
@{
    ViewData["Title"] = "PageComponentCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- vendor css -->
<!-- az-header -->


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" data-target="#addcomponentcategorypopup" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Kategori Ekle</strong> </a>
            @Html.Partial("_AddComponentCategoryPartial")
            @Html.Partial("_DeleteComponentCategoryPartial")
            @Html.Partial("_UpdateComponentCategoryPartial")





            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th>KATEGORİ ADI</th>

                            @*<th>Details</th>*@
                            <th>GÜNCELLE</th>
                            <th>SİL</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                              
                                <td>@item.Name</td>


                                @*<td><a href="#">Details </a></td>*@
                                <td>
                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="ComponentCategoryUpdateShow('@item.Id', '@item.Name')" data-toggle="modal" data-target="#updatecomponentcategorypopup"><i class="far fa-edit"></i></button>

                                </td>
                                <td><button class="btn btn-sm btn-danger rounded-pill" onclick="ComponentCategoryDeleteShow('@item.Id')" data-toggle="modal" data-target="#deletepagecategorypopup"><i class="far fa-trash-alt"></i></button> </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{





    <script>

        function ComponentCategoryUpdateShow(id, name) {
            // debugger;

            $("#componentcategoryid").val(id);
            $("#componentcategoryname").val(name);

        }
    </script>

    <script>

        function ComponentCategoryUpdate() {
            //CKEDITOR.instances['editor2'].updateElement();

            let id = $(componentcategoryid).val();
            let name = $(componentcategoryname).val();






            $.ajax({
                type: "put",
                url: "/PageComponentCategory/UpdatePageComponentCategory",
                data: {
                    Id: id,
                    Name: name





                },
                success: function (response) {
                    if (response) {
                        swal("ComponentCategory Updated!", "", "success");

                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>

        function ComponentCategoryDeleteShow(id) {
            // debugger;

            $("#componentcategoryid").val(id);



        }
    </script>
    <script>

        function ComponentCategoryDelete() {
            let id = $(componentcategoryid).val();

            $.ajax({
                type: "delete",
                url: "/PageComponentCategory/DeletePageComponentCategory",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        swal("ComponentCategory Deleted!", "", "success");
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>








        // debugger;
        $(function () {


            //  debugger;


            $("#addpagecomponentcategory").click(function () {
                //CKEDITOR.instances['editor1'].updateElement();
                let NewsCategory = {
                    Name: $("#name").val(),


                };





                $.ajax({
                    type: "post",
                    url: "/PageComponentCategory/AddPageComponentCategory",
                    data: NewsCategory,
                    success: function (response) {
                        if (response) {
                            swal("ComponentCategory Added!", "", "success");
                        }



                    }

                });

            });

        });
    </script>


}
