

@model IEnumerable<PageComponentCategoryDto>
@{
    ViewData["Title"] = "PageComponentCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha256-He3QEBKoL/nMXlVsoM7S2C2kjFQqS5L+mgA+F8LpG+U=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />

<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" id="btnAddCategory" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Kategori Ekle</strong> </a>


            @Html.Partial("_AddEditComponentCategoryPartial")
            @Html.Partial("_DeleteComponentCategory")






            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>

                            <th>KATEGORİ ADI</th>
                            <th id="selector"></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr id="row_@item.Id">

                                <td>@item.Name</td>



                                <td>
                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="getById('@item.Id')" data-toggle="modal" data-target="#updatecomponentcategorypopup"><i class="far fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger rounded-pill componentcategorydelete" data-id="@item.Id" data-name="@item.Name" type="submit" name="delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->




@section Section{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).on('click', '.componentcategorydelete', function () {

            var id = $(this).data("id");
            var name = $(this).data("name");

            Swal.fire({
                title: 'Emin Misin?',
                text: "Kategori Silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'delete',
                        url: '/PageComponentCategory/DeletePageComponentCategory?Id=' + id,
                        success: function (data) {
                            if (data) {
                                $.ajax({
                                    url: "/PageComponentCategory/Index",
                                    type: "get",
                                    dataType: "html",
                                    contentType: "application/json; ",
                                    success: function (data) {

                                        $("#tableBody").html(data);
                                        toastr.success("İşlem başarılı bir şekilde gerçekleşti!", "Başarılı !")
                                    }

                                });


                            }


                            else {
                                toastr.error("", "İşlem gerçekleşmedi !")

                                $("#deletedComponentCategory").modal('show');
                                $("#deletedCategory").val(name);
                                $("#categoryId").val(id);

                                $("#btn-remove-assign").click(function () {

                                    let id = $(categoryId).val();
                                    let pageComponentCategoryId = $(otherCategories).val();


                                    $.ajax({
                                        type: "post",
                                        url: "/PageComponentCategory/DeleteAndAssignComponentCategory",
                                        dataType: "json",
                                        data: {
                                            Id: id,
                                            PageComponentCategoryId: pageComponentCategoryId

                                        },
                                        cache: false,
                                        success: function (data) {
                                            if (data) {
                                                $.ajax({
                                                    url: "/PageComponentCategory/Index",
                                                    type: "get",
                                                    dataType: "html",
                                                    contentType: "application/json; ",
                                                    success: function (data) {
                                                        if (data) {

                                                            $("#deletedComponentCategory").modal('hide');
                                                            $("#tableBody").html(data);
                                                            toastr.success("İşlem başarılı bir şekilde gerçekleşti!", "Başarılı !")

                                                        }


                                                    }

                                                });
                                            }
                                            else {
                                                Swal.fire('Hata Oluştu!', 'Silinecek kategori başka komponentlere aktarılamaz!', 'warning');
                                            }

                                        }
                                    });
                                });
                            }
                        }
                    });

                }
            });
        });

        $("#btnAddCategory").on("click", function () {

            $("#componentcategoryid").val(0);
            $("#categoryname").val("");

            $("#updatecomponentcategorypopup").modal("show");

        });


        $("#addupdatecategory").click(function () {
            $("#addeditcategoryform").validate({
                ignore: [],
                debug: false,
                rules: {
                    categoryname: { required: true }

                },
                messages: {
                    categoryname: { required: "Kategori Ad alanı zorunlu!" }

                },
                submitHandler: function (form) {

                    let id = $("#componentcategoryid").val();
                    let name = $("#categoryname").val();

                    $.ajax({
                        type: "post",
                        url: id == 0 ? "/PageComponentCategory/AddPageComponentCategory" : "/PageComponentCategory/UpdatePageComponentCategory",
                        data: {
                            Id: id,
                            Name: name
                        },
                        success: function (response) {
                            if (response) {
                                $.ajax({
                                    url: "/PageComponentCategory/Index",
                                    type: "get",
                                    dataType: "html",
                                    contentType: "application/json; ",
                                    success: function (data) {

                                        $("#updatecomponentcategorypopup").modal('hide');
                                        $("#tableBody").html(data);
                                        toastr.success("İşlem başarılı bir şekilde gerçekleşti!", "Başarılı !")



                                    }
                                });



                            }
                            else {
                                toastr.success("", "İşlem Gerçekleşmedi !")
                            }

                        },
                        error: function () {
                            console.log("Hata Oluştu");
                        }
                    })
                }
            });
        });


        function getById(id) {
            $.ajax({
                url: "/PageComponentCategory/GetPageComponentCategoryById",
                type: "Get",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (data) {

                    $("#componentcategoryid").val(data.Id);
                    $("#categoryname").val(data.Name);
                }
            })
        }

    </script>




}
