

@model IEnumerable<PageComponentCategoryDto>
@{
    ViewData["Title"] = "PageComponentCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    #selector[class*="sort"]:before,
    #selector[class*="sort"]:after {
        content: "" !important;
    }
</style>


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">

            <a class="btn btn-primary" data-toggle="modal" data-target="#addcomponentcategorypopup" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Kategori Ekle</strong> </a>
            @Html.Partial("_AddComponentCategoryPartial")
          
            @Html.Partial("_UpdateComponentCategoryPartial")





            <hr class="mg-y-30">

            @*<a class="btn btn-az-primary" style="width:130px;" href="#">Insert News</a>*@

            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>

                            <th class="sorting_asc_disabled sorting_desc_disabled !important">KATEGORİ ADI</th>
                            <th id="selector"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Name</td>



                                <td>
                                    <button class="btn btn-sm btn-indigo rounded-pill" onclick="ComponentCategoryUpdateShow('@item.Id', '@item.Name')" data-toggle="modal" data-target="#updatecomponentcategorypopup"><i class="far fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger rounded-pill componentcategorydelete" data-id="@item.Id" type="submit" name="delete"  ><i class="far fa-trash-alt"></i></button>
                                </td>


                            </tr>
                        }



                    </tbody>
                </table>
            </div>


            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


@section xx{

    <script type="text/javascript">
        $(document).on('click', '.componentcategorydelete', function () {

            var id = $(this).data("id");

            Swal.fire({
                title: 'Emin Misin?',
                text: "Kategori Silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'delete',
                        url: '/PageComponentCategory/DeletePageComponentCategory?Id=' + id,
                        success: function (data) {
                            if (data) {
                                //swal('Silindi!', 'Kategori silindi?', 'success');
                                location.href = "/PageComponentCategory/Index";
                            }

                            else {
                                Swal.fire('Hata Oluştu!', 'İşlem sırasında hata oluştu?', 'warning');
                                return false;
                            }
                        }
                    });

                }
            });
        });
    </script>



    <script>

        function ComponentCategoryUpdateShow(id, name) {
            $("#componentcategoryid").val(id);
            $("#componentcategoryname").val(name);
        }
    </script>

    <script>

        function ComponentCategoryUpdate() {
            let id = $(componentcategoryid).val();
            let name = $(componentcategoryname).val();

            $.ajax({
                type: "put",
                url: "/PageComponentCategory/UpdatePageComponentCategory",
                data: {
                    Id: id,
                    Name: name
                },
                success: function (response) {
                    if (response) {
                        swal("ComponentCategory Updated!", "", "success");
                    }
                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

  

    <script>
        // debugger;
        $(function () {

            $("#addpagecomponentcategory").click(function () {

                let NewsCategory = {
                    Name: $("#name").val(),
                };

                $.ajax({
                    type: "post",
                    url: "/PageComponentCategory/AddPageComponentCategory",
                    data: NewsCategory,
                    success: function (response) {
                        if (response) {
                            swal("ComponentCategory Added!", "", "success");
                        }

                    }

                });

            });

        });
    </script>


}
